@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== HARD RESET ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== REMOVE WHITE GAPS ===== */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #1c3c53;
  font-size: 16px;
}
/* Remove mobile auto zoom */
input,
button {
  font-size: 16px;
}